
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link font-weight-bolder" href="/home">Home</a>
        </li>
      
        <li class="nav-item active">
          <a class="nav-link font-weight-bolder" href="/addfood">Add Food</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link font-weight-bolder" href="/foodlist">Food list</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link font-weight-bolder" href="/cart">Cart</a>
        </li>
      
            </ul>
    </div>
  </nav>
